.sliderSection {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1200px;
}


.headerBlock {
    background: linear-gradient(90deg, rgba(142, 45, 226, 0.7) 0%, rgba(74, 0, 224, 0.7) 100%);
    border: 2px solid white;
  border-radius: 30px;
  padding: 50px 40px;
  margin: 0 auto 16px auto;
  max-width: 1200px;
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto;

}

.sliderWrapper {
  position: relative;

}

.sliderWrapper {
  z-index: 1;
  margin-top: 10px;
  position: relative;
}

:global(.swiper-wrapper) {
  padding: 5px 0 0;
}

.swiper-slide {
  display: flex !important;
  align-items: stretch;
}

.fixedHeight {
  width: 100%;
  height: 100%;
  min-height: 460px;
  display: flex;
  align-items: stretch;
}

.stepCard {
  width: 100%;
  height: 400px;
  background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
  border-radius: 20px;
  padding: 30px 20px;
  color: white;
  text-align: center;
  transition: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.stepCardTextContainer {
  height: 50%
}

.stepCardTextContainer p {
  line-height: 1.6;
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.imageContainer {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepCardTitle {
  font-size: 20px;
  margin: 10px 0 ;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(108, 22, 225);
  width: 500px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 24px;
}

.swiper-button-prev {
  left: -10px;
}

.swiper-button-next {
  right: -50px;
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: white !important;
  text-shadow: none;
}


:global(.swiper-pagination-bullet) {
  background-color: rgba(72, 3, 11, 0.4);
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  background-color: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%) !important;
}



@media (max-width: 768px) {
  .sliderWrapper {
    padding: 0 10px;
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }

  .fixedHeight {
    min-height: unset;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .headerBlock {
    padding: 30px 20px;
  }
}
