.container {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  background: rgba(223, 223, 228, 0.9);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 0 6px #48030b, 0 0 12px #3a0209, 0 0 24px #48030b;
  color: white;
  box-sizing: border-box;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
text-shadow: 0 0 5px #6c0a13, 0 0 10px #3a0209, 0 0 20px #200105;
}


.labelIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  margin: 15px 0 5px;
}

.labelIcon i {
  min-width: 20px;
}

.input,
.select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

.sectionTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: white;
  text-shadow: 0 0 5px #0A2463;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
}

.checkboxGroup,
.selectGroup {
  margin-top: 10px;
}

.checkboxGroup label,
.selectGroup label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 400;
  gap: 10px;
}

.checkboxGroup input {
  margin-right: 10px;
}

.button {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  background-color: #E53935;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d4322e;
}

.result {
  margin-top: 30px;
  padding: 25px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* прозрачный светлый фон */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 20px rgba(10, 36, 99, 0.4);
  color: #ffffff;
  animation: fadeIn 0.5s ease-in-out;
  font-family: 'Manrope', sans-serif;
  transition: all 0.3s ease;
}

.result strong {
  display: block;
  font-size: 22px;
  font-weight: 800;
  color: #E53935;
  margin-bottom: 16px;
}

.result div {
  font-size: 16px;
  line-height: 1.6;
  color: #f0f0f0;
}

.searchWarehouseInput {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-bottom: 0;
}

.warehouseSelect {
  width: 100%;
  margin-top: 8px;
}

.thermalLengthBlock {
  margin-top: 10px;
}

.thermalLengthBlock input {
  width: 100%;
  margin-top: 6px;
}

.thermalHint {
  color: #ccc;
  font-size: 13px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .container {
    margin: 10px;
    padding: 20px;
  }
}
