.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 30px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #48030b;
  box-sizing: border-box;
}

.leftBlock {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.centerBlock {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex: 1;
}

.centerBlock button {
  color: #581c87;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  border-radius: 12px;
  background-color: white;
  padding: 10px 20px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #48030b;
  color: white;
 
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: transparent;
  padding: 0 12px;
  box-shadow: none;
}

.contactIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactIcons a {
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E0E0E0;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}


.contactIcons a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.icon {
  height: 34px;
  width: 34px;
}

.companyName {
  font-size: 18px;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  padding: 6px 14px;
  border: 2px solid white;
  border-radius: 30px;
  background: transparent;

  box-shadow:
    0 0 3px rgba(255, 255, 255, 0.2),
    0 0 8px rgba(255, 255, 255, 0.15) inset;

  transition: all 0.2s ease;
  cursor: pointer;
  line-height: 1;
}

.companyName:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.03);
}



.navigation {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  color: #494949;
  font-size: 16px;
}

.fulfil {
  display: flex;
  align-items: center;
  position: relative;
}

.contactIcon {
  display: flex;
  align-items: center;
  gap: 18px;
}

.phoneNumber {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.sidebarIcon {
  background: none;
  border: none;
}

.sideBarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998;
  transition: background-color 0.3s ease;
}

.navigation button {
  color: #494949;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  line-height: 1.55;
  font-weight: 400;
  border-radius: 10px;
  background-color: white;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #494949;
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }

  .phoneNumber {
    display: none;
  }

  .contactIcon {
    gap: 10px;
  }

  .header {
    padding: 10px 20px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
